server {
       listen 80;

       root /usr/share/nginx/www/partisk/app/webroot;
       index index.php;

       server_name www.partisk.nu;

       location / {
                try_files $uri $uri/ /index.php?$uri&$args;
       }

       location ~ \.php$ {
                 fastcgi_split_path_info ^(.+\.php)(/.+)$;
                 fastcgi_pass unix:/var/run/php5-fpm.sock;
                 fastcgi_index index.php;
                 include fastcgi_params;
        }
}
